server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost/academia
    username: root
    password: root

  jpa:
    hibernate:
      host: localhost
      port: 3306
      database: academia
      ddl-auto: update
      show-sql: true
      dialect: org.hibernate.dialect.MySQL8Dialect
      format_sql: true
      show_sql: true
      use_sql_comments: true

  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher

      #   http://localhost:8081/swagger-ui/index.html